php_flag display_errors ong

Options +Indexes
RewriteEngine on
RewriteBase /

DirectoryIndex router.php


RewriteRule ^city/(.*)$ city.php?c=$1
RewriteRule ^home(.*)$ home.php
RewriteRule ^about(.*)$ about.php

