php_flag display_errors on

IndexIgnore *


Options +Indexes
RewriteEngine on
RewriteBase /

DirectoryIndex router.php


RewriteRule ^city/(.*)$ city.php?c=$1
RewriteRule ^home(.*)$ home.php
RewriteRule ^about(.*)$ about.php
RewriteRule ^contact(.*)$ contact.php
RewriteRule ^trucks(.*)$ trucks.php
RewriteRule ^404/(.*)$ error/404.php
RewriteRule ^faqs/(.*)$ error/faqs.php
RewriteRule ^premium(*.*)$ premium.php

